[wiki]
username = BuildlogBotUser
password = InsertPasswordHere
pagetitle = BuildLogPageTitle
apiuri = https://wiki.yoctoproject.org/wiki/api.php

[builder]
wwwuri = https://autobuilder.yoctoproject.org/main
apiuri = https://autobuilder.yoctoproject.org/main/json
